<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>todoアプリ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>タスク一覧<a href="/logout" class="logout">Logout</a></h1>
        <form class="form" method="POST" action="/add">
            <input type="hidden" name="sort" value="{{ request.args.get('sort', 'new') }}">
            <input type="text" name="title" placeholder="タスクを入力">
            <button class="add-btn" type="submit">追加</button>
        </form>
        <form method="GET">
            <select name="sort">
                <option value="new">新しい順</option>
                <option value="old">古い順</option>
            </select>
            <button>並び替え</button>
        </form>
        <ul class="task-item">
            {% for task in tasks %}
                <li id="task-{{ task[0] }}"> 
                    {% if task[2] %}
                    <span class="completed">{{ task[1] }}</span>
                    {% else %}
                    <span>{{ task[1] }}</span>
                    {% endif %}
                    <!-- <a href="/edit/{{ task[0] }}">編集</a> -->
                    <button class="edit-btn" data-id="{{ task[0] }}">編集</button>

                    <!--
                    <a class="toggle-link" data-id="{{ task[0] }}" href="{{ url_for('toggle',task_id=task[0],sort=request.args.get('sort', 'new')) }}">完了</a>
                    -->
                    <button class="toggle-link" data-id="{{ task[0] }}">完了</button>
                    <!--
                    <form action="{{ url_for('delete',task_id=task[0],sort=request.args.get('sort', 'new')) }}" method="POST" style="display:inline;">
                        <button class="delete-btn" data-id="{{ task[0] }}">削除</button>
                    </form>
                    -->  
                    <button id="task" class="delete-btn" data-id="{{ task[0] }}">削除</button>
                </li>
            {% endfor %}
        </ul>
    </div> 
    <div>
        <button id="test-btn">ボタンだよ</button>
    </div>
    <script src="{{ url_for('static', filename='js/main.js' )}}"></script>
</body>
</html>